.articles {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Espacio entre artículos */
}

.article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.article.reverse .content {
    flex-direction: row-reverse;
}

.content img {
    max-width: 80; /* Ajusta según tus necesidades */
    height: auto;
}

.content p {
    flex: 1;
    
}

h2 {
    
    margin-top: 2em;
}
.article.reverse {
    flex-direction: row-reverse;
}

.article.reverse img {
    margin-left: 0;
    margin-right: 1em;
}

/* Responsive styles */
@media (max-width: 768px) {
    .article, .article.reverse {
        flex-direction: column;
        text-align: center;
    }

    .article img, .article.reverse img {
        width: 100%;
        margin: 0 0 1em 0;
    }

    .article p, .article.reverse p {
        width: 100%;
        padding: 0;
    }
}
