body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita el desbordamiento en el cuerpo */
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Ajusta la altura máxima del contenedor del formulario */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.form {
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.active-form {
    opacity: 1;
    visibility: visible;
    position: relative;
}

h1 {
    color: #ecf0f1;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #ecf0f1;
    color: #34495e;
}

.form-group label {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: wite;
    color: #ecf0f1;
    padding: 0 5px;
    font-size: 14px;
    pointer-events: none;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    transform: translateY(-50%);
}

.form-group .toggle-password.fa-eye-slash {
    color: #2980b9;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-grid .form-group {
    flex: 1 1 calc(50% - 15px);
}

.form-grid .form-group.full-width {
    flex: 1 1 100%;
}

.login-btn, .register-btn, .toggle-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn {
    background-color: #2980b9;
}

.login-btn:hover {
    background-color: #3498db;
}

.register-btn {
    background-color: #2980b9;
}

.register-btn:hover {
    background-color: #3498db;
}

.toggle-btn {
    background-color: #27ae60;
}

.toggle-btn:hover {
    background-color: #2ecc71;
}

.alternative-login {
    margin-top: 20px;
    color: #ecf0f1;
}

.alternative-login p {
    margin-bottom: 10px;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
}

.social-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-btn.google {
    background-color: #db4437;
}

.social-btn.google:hover {
    background-color: #e57373;
}

.social-btn.facebook {
    background-color: #3b5998;
}

.social-btn.facebook:hover {
    background-color: #7986cb;
}

.social-btn.twitter {
    background-color: #1da1f2;
}

.social-btn.twitter:hover {
    background-color: #64b5f6;
}
