/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    width: 100%;
    height: 6em;
    background-color: rgb(135, 206, 235,0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    height: 10%; 
}

/* Titulo Logo */
.tituloLogo {
    margin-left: 0.5em;
    flex-grow: 1;
}

/* Navigation menu */
.nav {
    position: relative;
    flex-grow: 2;
}

.barnav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.barnav .menu {
    margin: 0;
    height: 100%;
}

.barnav .menu a {
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.3s;
}

.barnav .menu a:hover {
    background-color: rgb(0, 123, 255,0.9);
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .barnav {
        display: none;
        flex-direction: column;
        width: 200px; /* Fijo ancho del menú desplegable */
        position: absolute;
        top: 6em;
        right: 0;
        z-index: 999;
        background-color: rgb(135, 206, 235,0.9);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .barnav .menu {
        width: 100%; /* Ancho completo para cada elemento del menú */
        margin: 0;
        padding: 1em 0; /* Espaciado entre elementos */
        text-align: left; /* Alineación del texto */
    }

    .barnav .menu a {
        width: 100%; /* Ancho completo para cada enlace */
        padding: 1em; /* Espaciado interno */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
        background-color: rgb(135, 206, 235,0.8);
    }

    #toggle-menu:checked + .hamburger-menu + .nav .barnav {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

}
